<div class="container">

    <div *ngIf="voted; else opties">
        <h1>Je hebt al een stem uitgebracht voor deze poll!</h1>
        <button (click)="uitslag(id)" class="btn btn-primary btn-lg btn-block">Uitslag van poll bekijken</button>
    </div>

    <ng-template #opties>
    <div *ngFor="let p of (poll | async)">

        <h1>Stem voor de poll <span class="font-italic font-weight-bold">{{p.naam}}</span></h1>

        <br><br>

            <div *ngFor="let o of p.opties" class="jumbotron">
                <div (click)="stemOptie(o, p.pollID)">
                    <h3 class="display-4">{{o.naam}}</h3>
            </div>
        </div>
    </div>
    </ng-template>

    
        
    </div>