.jumbotron{
    padding: 1rem 1rem;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    h3{
        font-weight: 800!important;
    }
    &:hover{
        cursor: pointer;
        box-shadow: 6px 6px 25px -9px rgba(0,0,0,0.75);
    }
}