<div class="container">
        <!-- <button class="btn btn-primary btn-lg btn-block" (click)="nieuwePoll()">Nieuwe poll maken</button>
        
            <ul>
        
                <li *ngFor="let p of (uitgenodigdePolls | async)">{{p.naam}}
                
                    <p *ngFor="let o of p.opties">{{o.naam}} - {{o.aantalStemmen}}  <button (click)="stemOptie(o)">Stem!</button></p>
        
                </li>
            </ul> -->
            <br>
            <h1>Uitgenodigde polls</h1>

            <div  *ngFor="let p of (uitgenodigdePolls | async)" class="jumbotron">
                    <h3 class="display-4">{{p.naam}}</h3>
                    <hr class="my-4">
                    <h5 class="display-5">Opties:</h5>
                    <p *ngFor="let o of p.opties">
                            {{o.naam}} - {{o.aantalStemmen}}
                            <button class="btn btn-success" (click)="stemOptie(o)"><i class="fas fa-vote-yea"></i></button>
                        </p>
                    
            </div>
        </div>