<div class="container">
    <h1>Profiel van {{user.username}} aanpassen</h1>
    <form [formGroup]="profielForm" (ngSubmit)="onSubmit()">
    
        <p>
            <label>Username:</label>
        <input placeholder="Username" [(ngModel)]="userLocal.username" class="form-control" type="text" formControlName="username" />
        </p>
    
    
        <p>
            <label>Firstname:</label>
        <input type="Firstname" class="form-control" [(ngModel)]="userLocal.firstName" placeholder="Firstname" type="text" formControlName="firstName" />
        </p>
    
        <p>
            <label>Lastname:</label>
            <input class="form-control" [(ngModel)]="userLocal.lastName" type="Lastname" placeholder="Lastname" type="text" formControlName="lastName" />
            </p>
    
            <p>
                <label>Email:</label>
                <input type="email" [(ngModel)]="userLocal.email" class="form-control" placeholder="email" type="text" formControlName="email" />
                </p>
    
    
    
        <p><button class="btn btn-primary" type="submit" [disabled]="!profielForm.valid">Opslaan</button></p>
    
    
    
        </form>

        <form [formGroup]="wachtwoordForm" (ngSubmit)="onChangePassword()">
    <p>
                <label>Nieuw wachtwoord:</label>
                <input type="password"  class="form-control" placeholder="Nieuw wachtwoord" formControlName="password" />
            </p>

            <p>
                <label>Herhaal nieuw wachtwoord:</label>
                <input type="password" class="form-control" placeholder="Herhaal nieuw wachtwoord" formControlName="newPasswordRepeat" />
            </p>
        
        
            <p><button class="btn btn-primary" type="submit" [disabled]="!wachtwoordForm.valid">Verander</button></p>
        
        
        
            </form>
    </div>