<div class="container">

<h4>Nieuwe poll aanmaken</h4>
<form [formGroup]="pollForm" (ngSubmit)="onSubmitPoll()">


    <p>
        <label>Pollnaam:</label>
    <input  class="form-control" placeholder="Naam" type="text" formControlName="pollName" />
    </p>

    <p>
        <label>Optie 1:</label>
            <input  class="form-control" placeholder="Optie" type="text" formControlName="optie1" />
            </p>

            <p>
                <label>Optie 2:</label>
                    <input  class="form-control" placeholder="Optie" type="text" formControlName="optie2" />
                    </p>

    <p>
        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="submitted">Toevoegen</button>
    </p>

    


    </form>
    </div>