<div class="container">

<h1>Nieuwe poll aanmaken</h1>
<form [formGroup]="pollForm" (ngSubmit)="onSubmitPoll()" name="makePoll" novalidate>


    <p>
            <label>Pollnaam:</label>
            <input name="pollName" class="form-control" placeholder="Naam" type="text" formControlName="pollName"/>
            
    </p>
    
    <br>


    <p>
        <label>Optie 1:</label>
        <input  class="form-control" placeholder="Optie" type="text" formControlName="optie1" />            
    </p>

    <p>
        <label>Optie 2:</label>
        <input class="form-control" placeholder="Optie" type="text" formControlName="optie2" />
    </p>

    <p>
        <button [disabled]="!pollForm.valid" class="btn btn-primary btn-lg btn-block">Toevoegen</button>
    </p>

    
    


    </form>
    </div>