     <!-- Page Wrapper -->
  <div id="wrapper">

    <div *ngIf="loggedIn">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Polls</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a [routerLink]="['']" class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-poll"></i>
            <span>Polls</span>
          </a>
          <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Polls:</h6>
              <a class="collapse-item" [routerLink]="['/polls']" href="#">Zelfgemaakte polls</a>
              <a class="collapse-item" [routerLink]="['/uitgenodigde-polls']" href="#">Uitgenodigde polls</a>
              <a class="collapse-item" [routerLink]="['/nieuwe-poll']" href="#">Nieuwe poll maken</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

         <!-- Nav Item - Pages Collapse Menu -->
         <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-user-friends"></i>
              <span>Vrienden</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Polls:</h6>
                <a class="collapse-item" [routerLink]="['/friend']" href="#">Vrienden</a>
                <a class="collapse-item" [routerLink]="['/vriend-verzoek']" href="#">Vriendverzoeken</a>
                <a class="collapse-item" [routerLink]="['/vriend-toevoegen']" href="#">Vrienden Toevoegen</a>
              </div>
            </div>
          </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler  -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->
    </div>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  

          <div *ngIf="loggedIn">
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
            
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                  </button>
          
                 
          
                  
                  <ul class="navbar-nav ml-auto">
          
                    
                    <div class="topbar-divider d-none d-sm-block"></div>
          
                    
                    <li class="nav-item dropdown no-arrow">
                      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{firstname}} {{lastname}} ({{username}})</span>
                        <img class="img-profile rounded-circle" src="https://api.adorable.io/avatars/60/{{id}}@adorable.png">
                      </a>
                    
                      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a [routerLink]="['/profiel-aanpassen']" class="dropdown-item">
                          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                          Profiel aanpassen
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                          Uitloggen
                        </a>
                      </div>
                    </li>
          
                  </ul> 
                
                </nav>
            <!-- <app-navigatie></app-navigatie> -->
           </div>
         
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  

            <div *ngIf="alert" class="alert-cust container">
            <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            </div>

              <router-outlet></router-outlet>
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Din Vanwezemael - r0708466 :: Project Angular</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
  
      </div>
      <!-- End of Content Wrapper -->
  
    </div>
    <!-- End of Page Wrapper -->
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Uitloggen?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Tot ziens {{username}}, we zien je later.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleer</button>
            <a class="btn btn-primary" (click)="logout()" href="">Uitloggen</a>
          </div>
        </div>
      </div>
    </div>

    