<div class="container">

    <h1>Aanpassen van poll</h1>

    <div  *ngFor="let p of (poll | async)" class="jumbotron">
            <h3 class="display-4">{{p.naam}}</h3>
            <p class="lead">
                <button class="btn btn-danger" (click)="onDeletePoll(p.pollUserID)"><i class="fas fa-trash-alt"></i></button>
            </p>
            <hr class="my-4">
            <h5 class="display-5">Opties:</h5>
            <p *ngFor="let o of p.opties">
                    {{o.naam}} - {{o.aantalStemmen}}
                    <button class="btn btn-danger" (click)="verwijderOptie(o.optieID)"><i class="fas fa-trash-alt"></i></button>
                </p>
            
    </div>

<!-- <ul>        
    <li *ngFor="let p of (poll | async)">
        {{p.naam}}
        <button (click)="onDeletePoll(p.pollUserID)">Verwijder</button>
        
        <p *ngFor="let o of p.opties">
            {{o.naam}} - {{o.aantalStemmen}}
            <button class="btn btn-danger" (click)="verwijderOptie(o.optieID)"><i class="fas fa-trash-alt"></i></button>
        </p>

    </li>
    </ul> -->

    <form [formGroup]="pollOptie" (ngSubmit)="nieuweOptie()">
    <p>
        <label>Nieuwe optie:</label>
        
        <input class="form-control" placeholder="Optie" type="text" formControlName="optie" />
        
    </p>

    <button class="btn btn-primary" color="primary" type="submit" [disabled]="submitted">Toevoegen</button>

    </form>

</div>