<div class="container">


    <div  *ngFor="let p of (poll | async)">
            <h1>Aanpassen van poll <span class="font-weight-bold font-italic">{{p.naam}}</span></h1>
            <p class="lead">
                <button class="btn btn-danger btn-circle" (click)="onDeletePoll(p)"><i class="fas fa-trash-alt"></i></button>
            </p>
            <hr class="my-4">
            <h5 class="display-5">Opties:</h5>
            <p *ngFor="let o of p.opties">
                   <span class="font-weight-bold font-italic">{{o.naam}}</span> met <span class="font-weight-bold font-italic">{{o.aantalStemmen}}</span> stemmen
                    <button class="btn btn-circle btn-danger" (click)="verwijderOptie(o)"><i class="fas fa-trash-alt"></i></button>
                </p>
            
    </div>



    <form [formGroup]="pollOptie" (ngSubmit)="nieuweOptie()">
    <p>
        <label>Nieuwe optie:</label>
        
        <input class="form-control" placeholder="Optie" type="text" formControlName="optie" />
        
    </p>

    <button class="btn btn-primary" color="primary" type="submit" [disabled]="!pollOptie.valid">Toevoegen</button>

    </form>

</div>