<div class="centered">

    <form [formGroup]="registreerForm" (ngSubmit)="onSubmit()">
    
        <p>
            <label>Username:</label>
        <input placeholder="Username" class="form-control" type="text" formControlName="username" />
        </p>
    
    
        <p>
            <label>Firstname:</label>
        <input type="Firstname" class="form-control" placeholder="Firstname" type="text" formControlName="firstName" />
        </p>
    
        <p>
            <label>Lastname:</label>
            <input class="form-control" type="Lastname" placeholder="Lastname" type="text" formControlName="lastName" />
            </p>
    
            <p>
                <label>Email:</label>
                <input type="email" class="form-control" placeholder="email" type="text" formControlName="email" />
                </p>
    
            <p>
                <label>Password:</label>
                <input type="password" class="form-control" placeholder="Password" formControlName="password" />
                </p>
    
    
    
        <p><button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="submitted">Registreren</button></p>
    
        </form>
    <div>
        <button class="btn btn-outline-primary btn-lg btn-block" (click)="login()">Ik heb al een account</button>
    </div>
</div>