<div class="centered">

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


    <p>
        <label>Username:</label>
    <input class="form-control" placeholder="Username" type="text" formControlName="Username" />
    </p>


    <p>
        <label>Password:</label>
    <input class="form-control" type="password" placeholder="Password" formControlName="Password" />
    </p>


    <p><button class="btn btn-lg btn-block btn-primary" type="submit" [disabled]="!loginForm.valid">Inloggen</button></p>



    </form>
    <div><button class="btn btn-lg btn-block btn-outline-primary" (click)="registreer()">Maak een account aan</button></div>

    </div>