<!-- <div class="container">
<h1>Gemaakte polls</h1>
<br>
<button class="btn btn-primary btn-lg btn-block" (click)="nieuwePoll()">Nieuwe poll maken</button>

    <ul>

        <li *ngFor="let p of (polls | async)">{{p.naam}}
            <button class="btn btn-danger" (click)="onDeletePoll(p.pollUserID)">Verwijder</button>
            <button [routerLink]="['/bewerk-poll', p.pollID]">Bewerk</button>
            <button [routerLink]="['/uitnodigen', p.pollID]">Vrienden uitnodigen</button>
        
            <p *ngFor="let o of p.opties">{{o.naam}} - {{o.aantalStemmen}}  <button (click)="stemOptie(o)">Stem!</button> <button (click)="verwijderOptie(o.optieID)">Verwijder</button> </p>

        </li>
    </ul>
</div> -->

<div class="container">
    <br>
    <h1>Zelfgemaakte polls</h1>
    <br>
    <br>

<div *ngFor="let p of (polls | async)" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="test">
        <h4 class="card-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#poll{{p.pollID}}" aria-expanded="false" aria-controls="collapseOne">
            {{p.naam}}
          </a>
          <div class="options">
          <button class="btn btn-circle btn-danger" (click)="onDeletePoll(p.pollUserID)"><i class="fas fa-trash-alt"></i></button>
            <button class="btn btn-circle btn-warning" [routerLink]="['/bewerk-poll', p.pollID]"><i class="fas fa-edit"></i></button>
            <button class="btn btn-circle btn-info" [routerLink]="['/uitnodigen', p.pollID]"><i class="fas fa-envelope"></i></button>
          </div>
        </h4>
      </div>
      <div id="poll{{p.pollID}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="test">
        <div class="card-body">
         <p *ngFor="let o of p.opties">
             {{o.naam}} - {{o.aantalStemmen}}
             <button class="btn btn-circle btn-success" (click)="stemOptie(o)"><i class="fas fa-vote-yea"></i></button>
             <button class="btn btn-circle btn-danger" (click)="verwijderOptie(o.optieID)"><i class="fas fa-trash-alt"></i></button>
            </p>
        </div>
      </div>
    </div>
    
  </div>
  </div>