<div class="container">
<ul>        
    <li *ngFor="let p of (poll | async)">
        
        <h1>Vrienden uitnodigen voor poll <span class="font-weight-bold font-italic">{{p.naam}}</span></h1>
        

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let f of (friends | async)">
                {{f.username}}
                <div class="options">
                    <button class="btn btn-primary btn-circle" (click)="vriendUitnodigen(p.pollID, f.userFriendID, f.username)"><i class="fas fa-envelope"></i></button>
                </div>
            </li>
        </ul>
    </li>
</ul>
</div>




