<div class="container">
<h1>Vrienden uitnodigen</h1>
<ul>        
    <li *ngFor="let p of (poll | async)">
        
        <h2>{{p.naam}}</h2>
        

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let f of (friends | async)">
                {{f.username}}
                <div class="options">
                    <button class="btn btn-primary btn-circle" (click)="vriendUitnodigen(p.pollID, f.userFriendID)"><i class="fas fa-envelope"></i></button>
                </div>
            </li>
        </ul>
    </li>
</ul>
</div>




